<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login Page</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="registration-form">
  <form (ngSubmit)="login()">
    <div class="form-icon">
      <span><i class="fas fa-user-circle"></i></span>
    </div>

    <!-- Email Input -->
    <div class="form-group">
      <input
        type="text"
        class="form-control item"
        id="username"
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
        required
      />
    </div>

    <!-- Password Input -->
    <div class="form-group">
      <input
        type="password"
        class="form-control item"
        id="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>

    <!-- Login Button -->
    <div class="form-group">
      <button type="submit" class="btn btn-block create-account">Login</button>
    </div>

    <!-- Create Account Button (Visible only for patients) -->
    <div *ngIf="userSpace === 'patient'" class="form-group">
      <button
        type="button"
        class="btn btn-block create-account"
        routerLink="/home/createaccount"
        routerLinkActive="active"
      >
        Create Account
      </button>
    </div>

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </form>

  <!-- Social Media Section -->
  <div class="social-media">
    <h5>Sign up with social media</h5>
    <div class="social-icons">
      <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
      <a href="#"><i class="icon-social-google" title="Google"></i></a>
      <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>
